.button {
  padding: 0.5rem 1rem;
  color: var(--white);
  background: var(--primary);
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
