.category {
  display: flex;
  align-items: center;
  position: relative;
}

.category h1 {
  position: absolute;
  top: 50%;
  left: -3rem;
  display: block;
  font-family: "Segoe Script";
  font-size: 4rem;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.eventList {
  margin: 1rem 0;
  display: flex;
  overflow-x: scroll;
}

.eventList::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.eventList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(var(--black-rgb), 0.16);
}

.eventList::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  outline: none;
}
